<h1>Welcome to Angular!!</h1>

<h2>This is interpolation binding</h2>
<h3>My name is : {{name}}</h3><br>
<h1>
    hkjhkj = {{message}}
</h1>
<h2>This is property binding</h2>
<button (click)="onClick()">Click Me!</button><br>

<h2>This is 2 way binding</h2>
<input [(ngModel)]="textVal" type="text" />
{{textVal}}

<app-login></app-login>
<app-httpclientdemo></app-httpclientdemo>
<app-mobiledetails (childEvent)="message=$event" [parentData]="parentValue"></app-mobiledetails>
<router-outlet></router-outlet>
